# Environment
.env
venv/
env/
*.pyc
__pycache__/

# Data
*.db
*.sqlite3
*.csv
*.parquet
data_5m/
data/


# Models
models/*.pkl
models/*.joblib

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

